
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StatusCodePagesWithRedirects</title>
</head>
<body>
    <h2>StatusCodeaa:@ViewData["code"]</h2>
</body>
</html>
